:root {
    --light-cyan: hsl(193, 38%, 86%);
    --green: hsl(150, 100%, 66%);
    --graylish-blue: hsl(217, 19%, 38%);
    --dark-graylish-blue: hsl(217, 19%, 24%);
    --dark-blue: hsl(218, 23%, 16%);
    --font-family: 'Manrope', sans-serif;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: var(--font-family);
}

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--dark-blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.advice-card {
    width: 600px;
    height: 300px;
    margin: 0 auto;
    background-color: var(--dark-graylish-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 1rem;;
}

.advice-title {
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 0.25rem;
    color: var(--green);
}

#adviceText {
    text-align: center;
    color: #fff;
    font-size: 24px;
    width: 24rem;
    margin: 1.5rem 0;
}

.advice-footer {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.btn {
    padding: 1rem;
    position: absolute;
    top: 62%;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: var(--green);
    border-radius: 50%;
    cursor: pointer;
}


@media screen and (min-width: 375px) {
    .advice-card {
        width: 300px;
    }

    .divider {
        content: url('/images/pattern-divider-mobile.svg');
        padding: 14px;
    }
    #adviceText {
        width: 18rem;
    }

    .btn {
        top: 65%;
    }
}

@media screen and (min-width: 800px) {
    .advice-card {
        width: 600px;
        height: 400px;
    }
    
    .advice-title {
        font-size: 14px;

    }
    
    #adviceText {
        font-size: 28px;
        width: 24rem;
        margin: 1rem 0;
    }
    
    .advice-footer {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
    
    .btn {
        top: 68%;
        
    }

    .divider {
        content: url('/images/pattern-divider-desktop.svg');
    }
    
}